<div class="container top-space">
    <h1 class="text-secondary text-center">Registro de nueva categoria</h1>

    <%= render 'form', industry_branch: @industry_branch %>

    <%= link_to 'Volver', new_solution_path %>
</div>