<footer class="footer-page">
    <div class="whitespacefoo" style="width:80px;"></div>
    <div class="content-foo">
        <a href="#" class="links-in-foot">Sobre Nosotros</a>
        <a href="#" class="links-in-foot">Política de Privacidad</a>
        <a href="#" class="links-in-foot">Terminos de Uso</a>
    </div>
    <div class="social-foo">
        <ul style="padding-top: 5px;">
            <a class="circle-links" href="" style="padding: 5px 5px 5px 9px;"> 
                <li style="margin-right: 0px;">
                    <i class="fa fa-facebook"></i>
                </li>
            </a>
            <a class="circle-links" href="" style="padding: 5px 0px 5px 8px;"> 
                <li style="margin-right: 0px;">
                    <i class="fa fa-twitter-square"></i>
                </li>
            </a>
            <a class="circle-links" href="" style="padding: 5px 7px 5px 7px"> 
                <li style="margin-right: 0px;">
                    <i class="fa fa-instagram"></i>
                </li>
            </a>
        </ul>
    </div>
</footer>
