<footer class="page-footer font-small cyan darken-3 mt-4 footer-home" >
  <div class="container-fluid" >
  	<div class="row">
  		<%= link_to root_path, class: 'image-foot' do %>
			<%= image_tag("logo.png") %>
	    <% end %>
  	</div>
    <div class="row  text-center">
      <div class="col-md-12 py-4">
        <div class="flex-center icons-foot">
          <a class="fb-ic" href="">
            <i class="fa fa-color fa-facebook  mr-md-5 mr-3 fa-2x" style="color: #CACBD5;"> </i>
          </a>
          <a class="tw-ic" href="">
            <i class="fa fa-color fa-twitter   mr-md-5 mr-3 fa-2x iconss"> </i>
          </a>
          <a class="li-ic" href="">
            <i class="fa fa-color fa-linkedin  mr-md-5 mr-3 fa-2x iconss" > </i>
          </a>
          <a class="ins-ic" href="">
            <i class="fa fa-color fa-instagram   mr-md-5 mr-3 fa-2x iconss"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
  	<div class="row" > 
    		<div class="container-links-home">
      		<a href="" class=" a-foot">Acerca De</a>
      		<a href="" class=" a-foot">Terminos</a>
      		<a href="" class=" a-foot">Politicas de Privacidad</a>
      		<a href="" class=" a-foot">Apoyo</a>
    		</div>
    </div>
  </div>
  <div class="text-center"><p id="cr-foot-home">© 2018 Copyright Patner Good - Todos los derechos reservados</p></a>
  </div>
</footer>
