<div id="h-responsive-section-footer" class="row bg-dark" >
	<div class="col-0 col-md-1">
	</div>
	<div id="bugs" class="col-md pt-3 pt-sm-0 pl-5 ml-4 ml-md-0 pl-md-0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-3 col-sm-2 col-md-3 col-lg-2 text-muted  follow-us">
					Siguenos:
				</div>
				 <div class="col-9 col-lg-10 col-sm-10 col-md-9 py-sm-4 " style="margin: auto;">
			        <div class="flex-center icons-foot">
			          <a class="fb-ic" href="">
			            <i class="fa fa-color fa-google-plus text-muted mr-md-5 mr-3 fa-2x" style="color: #CACBD5; margin-left: -30px;"> </i>
			          </a>
			          <a class="tw-ic" href="">
			            <i class="fa fa-color fa-instagram text-muted  mr-md-5 mr-3 fa-2x incos2"> </i>
			          </a>
			          <a class="li-ic" href="">
			            <i class="fa fa-color fa-twitter text-muted mr-md-5 mr-3 fa-2x incos2"> </i>
			          </a>
			          <a class="ins-ic" href="">
			            <i class="fa fa-color fa-youtube-play text-muted  mr-md-5 mr-3 fa-2x incos2"> </i>
			          </a>
			        </div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-0" id="forgetme">
		
	</div>
	<div class="col-md pl-lg-5">
		<div class="container-links-home pt-4 pt-sm-2 pt-md-0 py-md-4 pl-lg-5">
			<i class="fa fa-color text-muted  fa-question-circle"> </i>
      		<a href="" class=" a-foot text-muted " style="border-right: 0px">Ayuda</a>
      		<a href="" class=" a-foot text-muted " style="border-right: 0px">Yeah Them</a>
      		<a href="" class=" a-foot text-muted " style="border-right: 0px">Privacidad</a>
		</div>
	</div>
</div>