<div class="steps-bar">
 <ul class="steps-indicator">
  <li class="<%= one %>">
   <div>
    <a href="">Únete</a>
   </div>
  </li>
  <li class="<%=two%>">
   <div>
    <a href="">Nombre Comercial</a>
   </div>
  </li>
  <li class="<%=three%>">
   <div>
    <a href="">Experiencia</a>
   </div>
  </li>
 </ul>
</div>