<header class="header-contact">
	<h2 class="contact-head">¿Como Podemos Ayudarte?</h2>
</header>
<main class="main-company_solution">
  	<section class="row">
  		<article class="col-sm-6">
  			<div class="msj-sender-contact">
  				<h1 class="text-center" style="color: #41968A">Su mensaje ha sido enviado exitosamente, en breve nos pondremos en conctacto con usted</h1>
			</div>
		</article>
		<article class="col-sm-6">
			<div class="row direccion-solutions" >
				<div class="map-contact"><iframe width="250" height="250" class="map-contact" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.it/maps?q=Madrid&output=embed"></iframe></div>
			</div>
			<h2 class="text-center">Sede principal</h2>
			<div class="row" style="margin-top: 10px;">
				<div class="w-50 address-contact">
					<p class="text-secondary">411 Avenida</p>
					<p class="text-secondary">Ciudad, Zona</p>
					<p class="text-secondary">Tfl: 514 545 745</p>
				</div>
			</div>
		</article>
	</section>
	<section class="row">
		<article class="col-sm-6 order-last order-sm-first">
		</article>
		<article class="col-sm-6 order-first order-sm-last number-contact">
			<div class="container-fluid another-things">
				<div class="row">
					<h5 class="title-another">Tu puedes encontrarnos aqui</h5>
				</div>
				<div class="row">
					<h6 class="title-another col-12">Número Teléfonico</h6>
					<p class="datos-another col-12">054564054564</p>
				</div>
				<div class="row">
					<h6 class="title-another col-12">E-mail</h6>
					<p class="datos-another col-12">ejemplo@gmail.com</p>
				</div>
			</div>
		</article>
	</section>
</main>
<%= render 'partials/footer'%>