<h3>Contactame</h3>

<p>
  Por favor contactar cuanto antes a: <strong><%= @greeting[:name] %></strong>
</p>
<p>
  Por llamada telefonica al numero: <strong><%= @greeting[:phone_number] %></strong>, preferiblemente en la <strong><%= @greeting[:time_job] %></strong>
</p>

