<h3>Contactame</h3>

<p>
  La persona: <strong><%= @greeting[:name] %></strong>
</p>
<p>
 Le enviado un correo mediante la dirección: <h4><strong><%= @greeting[:email] %></strong></h4>
</p>
<p>
  Para comunicarle: <strong><%= @greeting[:message] %></strong>
</p>

