<h3>Contactame</h3>
<p>
	Este correo ha sido generado desde el sitio Web <a href="">Clientaly.com</a> para informale que:
</p>
<p>
  La persona: <strong><%= @greeting[:name] %></strong>
</p>
<p>
	De numero telefonico: <strong><%= @greeting[:phone_number] %></strong>
</p>
<p>
	De cuenta linkedin, twitter, RRSS: <strong><%= @greeting[:ltr] %></strong>
</p>
<p>
    Le enviado un correo mediante la dirección: <strong><%= @greeting[:email] %></strong>
</p>
<p>
    Para comunicarle que esta interesado en que lo contactate, ya que es desarrollador de software.
</p>