<h3>Contactame</h3>
<p>
	Este correo ha sido generado desde el sitio Web <a href="">Clientaly.com</a> para informale que:
</p>
<p>
  La persona: <strong><%= @greeting[:name] %></strong>
</p>
<p>
  De la empresa: <strong><%= @greeting[:company] %></strong>
</p>
<p>
	De numero telefonico: <strong><%= @greeting[:phone_number] %></strong>
</p>
<p>
    Le enviado un correo mediante la dirección: <strong><%= @greeting[:email] %></strong>
</p>
<p>
    Solicitando acceso a la pagina
</p>