<div class="modal fade" id="share-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content text-white" style="background-color: #4A86FF;">
      <div class="modal-header">
        <h5 class="modal-title">Gracias en nombre de Counsel on Call</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="content-model">
            <div class="container content-modalthanks">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis vel natus aperiam, tempora id expedita. A, doloremque vero exercitationem, tenetur aperiam ducimus perspiciatis id earum rem fugiat eos molestiae reiciendis ipsam totam repellendus? Vel beatae, quo dolores repellendus mollitia maxime!
            </div>
        </div>
      </div>
      <div class="modal-footer" style="border-top: 0px;">
          <button type="button" id="btn-di" class="btn hvr-glow" style="background-color: white;">Guardar</button>
      </div>
    </div>
  </div>
</div>